body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
  overflow-x: hidden;
  margin: 0;
  padding: 0;

  background-image: url(./img/clouds2.png), url(./img/capifondo.png),
    url(./img/asgard.png);
  background-size: contain, contain, contain;
  background-position: 0 100vh, 0 350vh, 0 550vh;
  background-repeat: repeat-x, repeat-x, no-repeat;
}

div {
}

.scroll-tip {
  color: white;
  text-align: center;
  font-weight: bolder;
  font-size: 48px;
}

.header {
  background-color: black;
  display: flex;
  width: 100%;
  align-items: center;
  height: 110vh;
}
.logo {
  color: white;
  height: 400px;
  font-size: 99px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 1000;
  width: 100%;
  height: 100vh;
}

.ironman-title {
  font-size: 15em;
  color: yellow;
  font-weight: bolder;
  text-align: center;
  padding: 100px 0;
  letter-spacing: -20px;
}
.capitan-title {
  font-size: 9em;
  color: rgb(0, 136, 255);
  font-weight: bolder;
  text-align: center;
  padding: 400px 0;
  letter-spacing: -20px;
}
.thor-title {
  font-size: 15em;
  color: rgb(0, 136, 255);
  font-weight: bolder;
  text-align: center;
  padding: 300px 0;
  letter-spacing: -20px;
  margin-top: -800px;
}
.shield02 {
  position: absolute;
  margin-top: -153px;
  margin-left: 470px;
}

.rayo-container {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.rayo {
  background-color: rgb(144, 233, 255);
  width: 100%;
  height: 150vh;
}

.thor {
  position: absolute;
}
.thor02 {
  display: flex;
  margin-left: 100px;
  justify-content: center;
  text-align: center;
}

.avengers-logo {
  text-align: center;
  position: relative;
  height: 80vh;

  padding-top: 500px;
}

.avengers-logo img {
  position: relative;
  width: 80%;
}
