body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
  overflow-x: hidden;
  height: 7000px;
  margin: 0;
  padding: 0;

  background-image: url(./img/clouds.jpg), url(./img/capifondo.jpg),
    url(./img/thor-fondo.webp);
  background-size: 100% 400vh, 100% 200vh, 100% 150vh;
  background-position: 0 0, 0 400vh, 0 600vh;
  background-repeat: repeat-x, repeat-x, repeat-x;
}

div {
}

.scroll-tip {
  color: white;
  text-align: center;
  font-weight: bolder;
  font-size: 48px;
}

.header {
  background: url(./img/avengers-tower-2.webp);
  background-size: cover;
  height: 100vh;
}
.logo {
  color: white;
  height: 400px;
  font-size: 99px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.logo-text {
  color: white;
  font-weight: bold;
  text-align: center;
  font-size: 32px;
  background-color: rgb(46, 120, 247);
}

.ironman-title {
  font-size: 15em;
  color: yellow;
  font-weight: bolder;
  text-align: center;
  padding: 100px 0;
  letter-spacing: -20px;
}
.capitan-title {
  font-size: 15em;
  color: rgb(0, 136, 255);
  font-weight: bolder;
  text-align: center;
  padding: 300px 0;
  letter-spacing: -20px;
}
.thor-title {
  font-size: 15em;
  color: rgb(0, 136, 255);
  font-weight: bolder;
  text-align: center;
  padding: 300px 0;
  letter-spacing: -20px;
  margin-top: -800px;
}
.shield02 {
  position: absolute;
  margin-top: -647px;
  margin-left: 239px;
}

.rayo-container {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.rayo {
  background-color: aqua;
  width: 100%;
  height: 150vh;
}

.thor {
  position: absolute;
}
.thor02 {
  text-align: center;
}

.avengers-logo {
  text-align: center;
  position: relative;
}

.logo-shadow {
  width: 100%;
  height: 600px;
  background-color: black;
  margin: 300px auto 0 auto;
  position: absolute;
  z-index: 100;
  top: -190px;
}
.avengers-logo img {
  position: relative;
  width: 80%;
}
